/* Your styles here */
body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
    margin: 0.5em;
}

h2 {
    font-size: 1.8em;
}

button {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*-- HEADER ---------------------------------------------------------*/
header {
    background-color: black;
    padding: 2em;
}

#logo {
    width: 30vw;
}

/*-- MAIN -----------------------------------------------------------*/

/*---- Section Course -----------------------------------------------*/
#sect-course {
    background-image: url('../img/banner.jpg');
    background-size: cover;

    padding: 2em 2em 1.5em;
}

#sect-course p {
    font-size: 1.1em;
    margin: 0.5em;
}

#sect-course button {
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.8em 2em;
    margin: 1.5em;
}

/*---- Section Future -----------------------------------------------*/
#sect-future {
    padding: 2em 3em 1.5em;

}

#sect-future article {
    margin-bottom: 2em;
}

#sect-future article h3 {
    margin: 0.5em;
}

#sect-future article img {
    width: 80%;
    border-radius: 50%;
}

/*---- Section Testimoniaze ----------------------------------------------*/
#sect-testimoniaze {
    background-color: #e22d0e;
    color: white;

}

#sect-testimoniaze h2 {
    color: white;
}






